<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA9FF37D1E5DA8E10003E1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9FF3911E5DA8E40003E1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9FF39C1E5DA8E40003E1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
